*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.boton{
    margin-top: 2rem;
}
.boton button a{
    text-decoration: none;
    color: black;
}
.boton button{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
    
}
body{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.body{
     
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
    
}

.head img{
    width: 20rem;
    margin-left: 4rem;
}

.head h1{
    margin-right: 7rem;
    font-weight:normal;
}

.head{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}

main{
    display: flex;
    justify-content: center;
    
}
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 0rem;

}
.box{


    border: 1px solid rgba(94, 94, 94, 0.336) ;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 17px 0 rgba(0, 0, 0, 0.19);

}
.title{
   
    border-top: 8px solid #1ea6be ;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 17px 0 rgba(0, 0, 0, 0.19);
}
.title h2{
    font-weight:500;
    margin-bottom: 1rem;

}
#date{
    
    padding: 0.5rem;
    border: 2px solid rgba(94, 94, 94, 0.336) ;
    border-radius: 0.3rem;
    outline: none;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.596) ;
    transition: 0.5s;

}

#date:hover{
    border:2px solid #1ea6be;
    transition: 0.5s;

}
#city,#card{
    padding: 0.3rem ;
    width: 15rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(94, 94, 94, 0.336);
    transition: 0.5s;
}
#box-1:hover #city,#box-2:hover #card,.tr:hover{
    border-bottom: 2px solid #1ea6be ;
    background: rgba(94, 94, 94, 0.144);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: 0.5s;

}

th,td{
    padding: 1rem;
    text-align: center;
    
}
.tds{
    text-align: start;
}
#boton{
    padding: 0.3rem 1.2rem;
    margin-top: 1rem;
    border: 1px solid #1ea6be;
    background: #1ea6be;
    color: white;
    border-radius: 0.3rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
#boton:hover{
    background: white;
    color: #1ea6be;
    transition: 0.3s;
}
#boton:active{
    background: #1ea6be;
    color: white;
    transition: 0.3s;
}






@media (max-width:800px){

   
    .head{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .head h1{
        margin-right: 0rem;
    }
    .body{
     
        width: 100%;
        
    }
    .head img{
        width: 13rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    .head h1{
        font-size: 1.3rem;
    }
    .main{
        width: 90%;

    }
   
    
    
  
    
}
